QSN:
Create a country table with id, name and rank

Write a program to search the country from its name.

In [1]:
import pymysql as sql

In [2]:
def get_conn():
    conn=sql.connect(host='localhost', port=8111, user='root', database='jupyter')
    return conn

In [4]:
con=get_conn()
cur=con.cursor()
query='create table country(id int, name varchar(20), rank int)'
cur.execute(query)
con.commit()
con.close()

In [5]:
def add_count():
    con=get_conn()
    cur=con.cursor()
    a=input('Enter the ID of the COUNTRY  : ')
    b=input('Enter the NAME of the COUNTRY: ')
    c=input('Enter the RANK of the COUNTRY: ')
    query='insert into country values(%s, %s, %s)'
    cur.execute(query,(a,b,c))
    print('-------------------------------')
    print('COUNTRY ADDED SUCCESSFULLY')
    print('-------------------------------')
    con.commit()
    con.close()

In [10]:
def name_count():
    con=get_conn()
    cur=con.cursor()
    d=input('Enter the NAME of the COUNTRY that you want to get the details of: ')
    query='select*from country where name= %s'
    cur.execute(query,d)
    e=cur.fetchall()
    con.commit()
    con.close()
    return e

In [6]:
add_count()

Enter the ID of the COUNTRY  : 1
Enter the NAME of the COUNTRY: INDIA
Enter the RANK of the COUNTRY: 5
-------------------------------
COUNTRY ADDED SUCCESSFULLY
-------------------------------

In [8]:
add_count()

Enter the ID of the COUNTRY  : 2
Enter the NAME of the COUNTRY: USA
Enter the RANK of the COUNTRY: 1
-------------------------------
COUNTRY ADDED SUCCESSFULLY
-------------------------------

In [11]:
name_count()

Enter the NAME of the COUNTRY that you want to get the details of: india

((1, 'INDIA', 5),)

In [12]:
name_count()

Enter the NAME of the COUNTRY that you want to get the details of: usa

((2, 'USA', 1),)