In [1]:
import pymysql as sql

QSN
Create a student management application.

Create a student table with columns -  id, name and marks

Create python functions to -

1)show students

2) update student marks with id

3) Insert new student

4) Delete student

In [2]:
def get_conn():
    conn=sql.connect(host='localhost',port=8111,user='root',database='jupyter')
    return conn

In [3]:
con=get_conn()
cur=con.cursor()
query='create table student(id int, name varchar(20), marks int)'
cur.execute(query)
con.commit()
con.close()

In [20]:
def show_stud():
    con=get_conn()
    cur=con.cursor()
    print('Following are the details of students')
    print('----------------------------------------')
    query='select*from student'
    cur.execute(query)
    a=cur.fetchall()
    con.commit()
    con.close()
    return a

In [9]:
def upd_stud():
    con=get_conn()
    cur=con.cursor()
    b=input('enter the ID of student      : ')
    c=input('enter the MARKS to be updated: ')
    query='update student set marks=%s where id=%s'
    cur.execute(query,(c,b))
    print('----------------------------------------')
    print('Marks updated SUCCESSFULLY')
    print('----------------------------------------')
    con.commit()
    con.close()

In [12]:
def add_stud():
    con=get_conn()
    cur=con.cursor()
    d=input('Enter the ID of student   : ')
    e=input('Enter the NAME of student : ')
    f=input('Enter the MARKS of student: ')
    query='insert into student values(%s, %s, %s)'
    cur.execute(query,(d,e,f))
    print('----------------------------------------')
    print('Student ADDED SUCCESSFULLY')
    con.commit()
    con.close()

In [10]:
def del_stud():
    con=get_conn()
    cur=con.cursor()
    g=input('Enter the ID of student to delete the info: ')
    query='delete from student where id=%s'
    cur.execute(query,g)
    print('----------------------------------------')
    print('student info DELETED SUCCESSFULLY')
    print('----------------------------------------')
    con.commit()
    con.close()

INPUT and OUTPUT based on above functions

In [13]:
add_stud()

Enter the ID of student   : 1
Enter the NAME of student : Bharat
Enter the MARKS of student: 100
----------------------------------------
Student ADDED SUCCESSFULLY

In [14]:
add_stud()

Enter the ID of student   : 2
Enter the NAME of student : Nikhil
Enter the MARKS of student: 110
----------------------------------------
Student ADDED SUCCESSFULLY

In [15]:
add_stud()

Enter the ID of student   : 3
Enter the NAME of student : Vijay
Enter the MARKS of student: 125
----------------------------------------
Student ADDED SUCCESSFULLY

In [16]:
upd_stud()

enter the ID of student      : 1
enter the MARKS to be updated: 130
----------------------------------------
Marks updated SUCCESSFULLY
----------------------------------------

In [17]:
show_stud()

Following are the details of students
----------------------------------------
----------------------------------------

((1, 'Bharat', 130), (2, 'Nikhil', 110), (3, 'Vijay', 125))

In [18]:
del_stud()

Enter the ID of student to delete the info: 3
----------------------------------------
student info DELETED SUCCESSFULLY
----------------------------------------

In [19]:
show_stud()

Following are the details of students
----------------------------------------
----------------------------------------

((1, 'Bharat', 130), (2, 'Nikhil', 110))