In [5]:
pip install pymysql

Requirement already satisfied: pymysql in e:\users\bharat\appdata\local\programs\python\python310\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.1.2 is available.
You should consider upgrading via the 'E:\Users\Bharat\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [2]:
import pymysql as sql

#QSN
Create an Employee management database app with functions like

1) ADD EMPLOYEE (ID, NAME, DEPARTMENT, SALARY)

2)  SHOW EMPLOYEES

3) UPDATE EMPLOYEE SALARY

4) UPDATE EMPLOYEE DEPARTMENT

5) DELETE EMPLOYEE

In [1]:
def get_conn():
    conn=sql.connect(host='localhost',port=8111,user='root',database='jupyter')
    return conn

In [3]:
def add_emp():
    con=get_conn()
    cur=con.cursor()
    print('This function is used to add employees details in the database')
    print('Enter the details in the following: ')
    a=input('ID: ')
    b=input('NAME: ')
    c=input('DEPARTMENT: ')
    d=input('SALARY: ')
    query='insert into emp_mgmt values(%s,%s,%s,%s)'
    print('-----------------------------')
    print('data added succesfully')
    print('-----------------------------')
    cur.execute(query,(a,b,c,d))
    con.commit()
    con.close()

In [34]:
def show_emp():
    con=get_conn()
    cur=con.cursor()
    print('Following are the details of employees from the DATABASE')
    query='select* from emp_mgmt'
    cur.execute(query)
    x=cur.fetchall()
    con.commit()
    con.close()
    return x

In [5]:
def sal_emp():
    con=get_conn()
    cur=con.cursor()
    print('This function is used to update the SALARY of an EMPLOYEE')
    a=input('Enter the ID of employee: ')
    b=input('Enter the NEW SALARY: ')
    query='update emp_mgmt set salary=%s where ID=%s'
    cur.execute(query,(b,a))
    print('-----------------------------')
    print('SALARY updated succesfully')
    print('-----------------------------')
    con.commit()
    con.close()

In [6]:
def dept_emp():
    con=get_conn()
    cur=con.cursor()
    print('This function is used to update the DEPARTMENT of an EMPLOYEE')
    a=input('Enter the ID of employee: ')
    b=input('Enter the NEW DEPARTMENT: ')
    query='update emp_mgmt set DEPT=%s where ID=%s'
    cur.execute(query,(b,a))
    print('-----------------------------')
    print('DEPARTMENT updated succesfully')
    print('-----------------------------')
    con.commit()
    con.close()

In [7]:
def del_emp():
    con=get_conn()
    cur=con.cursor()
    print('This function is used to DELETE the details of an EMPLOYEE')
    a=input('Enter the ID of employee: ')
    query='delete from emp_mgmt where ID=%s'
    cur.execute(query,a)
    print('-----------------------------')
    print('EMPLOYEE DETAILS DELETED succesfully')
    print('-----------------------------')
    con.commit()
    con.close()

INPUT and OUTPUT for ABOVE FUNCTIONS

In [36]:
add_emp()

This function is used to add employees details in the database
Enter the details in the following:
ID: 4
NAME: Bharat Tuppad
DEPARTMENT: ML
SALARY: 120000
-----------------------------
data added succesfully
-----------------------------

In [37]:
show_emp()

Following are the details of employees from the DATABASE

((1, 'sachit', 'DBM', 50000),
 (2, 'nikhil', 'UIUX', 98000),
 (3, 'vijay', 'ML', 97500),
 (4, 'Bharat Tuppad', 'ML', 120000))

In [38]:
sal_emp()

This function is used to update the SALARY of an EMPLOYEE
Enter the ID of employee: 4
Enter the NEW SALARY: 180000
-----------------------------
SALARY updated succesfully
-----------------------------

In [39]:
dept_emp()

This function is used to update the DEPARTMENT of an EMPLOYEE
Enter the ID of employee: 3
Enter the NEW DEPARTMENT: AI
-----------------------------
DEPARTMENT updated succesfully
-----------------------------

In [40]:
del_emp()

This function is used to DELETE the details of an EMPLOYEE
Enter the ID of employee: 1
-----------------------------
EMPLOYEE DETAILS DELETED succesfully
-----------------------------

In [41]:
show_emp()

Following are the details of employees from the DATABASE

((2, 'nikhil', 'UIUX', 98000),
 (3, 'vijay', 'AI', 97500),
 (4, 'Bharat Tuppad', 'ML', 180000))